@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #ffffff 0%, #f5faff 100%);
  --foreground: #0054ab;
  --accent-gold: #f48e1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent-gold: var(--accent-gold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #eaf4fb 0%, #f5faff 100%);
    --foreground: #f48e1b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-shine {
  animation: shine 2.5s linear infinite;
}

@keyframes gold-glow {

  0%,
  100% {
    box-shadow: 0 0 0 0 #f48e1b66, 0 0 0 0 #ffd58044;
  }

  50% {
    box-shadow: 0 0 16px 4px #f48e1b99, 0 0 32px 8px #ffd58066;
  }
}

.animate-gold-glow {
  animation: gold-glow 2.5s ease-in-out infinite;
}
